<div id="pcList" class="videoList-container" style="margin-bottom: 0;">
  <div id="slide-index">
    <div class="image" style="left: -252px">
      <img src="/assets/img/xus/hw_110729.png" name="User Experience" />
    </div>
  </div>
</div>

<div id="latest-news-index">
  <div class="bound">
    <div class="latest-news">
      <div class="title">
        <img src="/assets/img/xus/hw_090457.gif"></div>
    </div>
  </div>
</div>

<div id="features-index">
  <div class="bound">
    
       
      <a id="feature-trigger">
      <span class="first">
          <h4 class="c_blue">
          成功故事</h4>
          <p>帮助客户实现商业成功，才是我们真正的成功。分享华为与全球客户合作双赢的成功故事。</p>
          </span>
          <img src="/assets/img/xus/hw_103177.jpg">


      </a>


        <a href="#">
      <span>
          <h4 class="c_orange">
          山东联通<br>打造精品“沃”网</h4>
          <p>山东联通对济南“沃”网实施了用户感知提升专项行动，在提高数据业务质量方面取得了丰硕成果。</p>
          </span>
          <img src="/assets/img/xus/hw_094229.jpg">


      </a>


      <a href="#" class="last">
      <span>
          <h4 class="c_green">
          《营赢》第11期</h4>
          <p>本期封面：马来西亚电信首席信息技术官Giorgio Migliarina认为，随着国家高速宽带项目的开展，马来西亚整个国家都将发生巨大变化。</p>
          </span>
          <img src="/assets/img/xus/hw_110748.jpg">


      </a>


        <a href="#">
      <span>
          <h4 class="c_green">
          悉您所需 为您所用</h4>
          <p>企业业务理解您的需求，为您提供全面、高效的ICT解决方案与服务，实现您的宏大愿景。</p>
          </span>
          <img src="/assets/img/xus/hw_110255.jpg">


      </a>


        <a href="#">
      <span>
          <h4 class="c_blue">
          自在分享</h4>
          <p>终端致力于不断推倒重重隔阂，让每个人都能成为信息中心，自在分享沟通乐趣。</p>
          </span>
          <img src="/assets/img/xus/hw_093164.jpg">


      </a>


      <a href="#" class="last">
      <span>
          <h4 class="c_orange">
          全球招聘</h4>
          <p>加入我们，一起为丰富人们的沟通与生活而努力。点击查看华为招聘信息。</p>
          </span>
          <img src="/assets/img/xus/hw_093390.jpg">


      </a>





   
  
  </div>
</div>


<div id="feature-popup" style="top: 303px; left: 186px; display: none;">
  <div class="maskContainer">
    <div class="mask" style="top: 0px; left: 0px;">
      <div class="caseContainer">
        <div class="case" style="top: 0px; left: 0px;">
          
          <div class="content">
            <!--<a class="close" href="#">More></a>-->
<div class="list">
            
<div class="item">
<div class="pic"><img src="/assets/img/xus/hw_110732.jpg"></div>
<div class="detail">
<a href="#">沃达丰德国：FTTx释放潜力</a>
            沃达丰德国独具特色的FTTx发展，为进一步发掘固定和移动业务融合所蕴藏的潜力奠定了基础。
            </div></div>

<div class="item">
<div class="pic"><img src="/assets/img/xus/hw_110733.jpg"></div>
<div class="detail">
<a href="#">STC：开拓IPTV新“视”界</a>
            进入高收益的电视领域使STC拓宽了业务范围，为其今后的增长拓展了盈利空间。
            </div></div>

<div class="item">
<div class="pic"><img src="/assets/img/xus/hw_110734.jpg"></div>
<div class="detail">
<a href="#">KPN：拓宽欧洲信息高速路</a>
            KPN循序渐进地将网络平台从10G升级至100G，其骨干波分网络也成为欧洲最大的泛欧网络之一。
            </div></div>

<div class="item">
<div class="pic"><img src="/assets/img/xus/hw_110735.jpg"></div>
<div class="detail">
<a href="#">湖北移动：智慧管道创价值</a>
            利用互联网缓存解决方案，湖北移动有效地践行了中国移动集团提出的“智慧管道”的构想。
            </div></div>

<div class="item">
<div class="pic"><img src="/assets/img/xus/hw_110736.jpg"></div>
<div class="detail">
<a href="#">浙江联通为残运会保驾护航</a>
            观众在赛事现场亲身体验沃3G带来的精彩应用，是浙江联通为2011年第八届残运会奉上的通信盛宴。
            </div></div>

<div class="item">
<div class="pic"><img src="/assets/img/xus/hw_103167.jpg"></div>
<div class="detail">
<a href="#">Telenor：LTE北上极地</a>
            Telenor在世界最北端的城市朗伊尔城部署LTE网络，为Telenor的百年华诞送上了一份珍贵的贺礼。
            </div></div>

            
            <div class="close"><a href="#">更多成功故事</a></div>
</div>
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="seo-footer">
  <div class="bound">
    <div class="section information">
      <div class="img">
        <div title="Information For" class="seoInfo png"></div></div>
      <span class="title">按访问者</span>
      <ul>
        <li><a href="#">运营商</a></li>
        <li><a href="#">企业用户</a></li>
        <li><a href="#">最终消费者</a></li>
        <li><a href="#">合作伙伴</a></li>
        <li><a href="#">新闻媒体</a></li>
        <li><a href="#">求职者</a></li>
      </ul>
    </div>
  
    <div class="section news">
      <div class="img"><div title="What's On" class="seoNews png"></div></div>
      <span class="title">公司动态</span>
      <ul>
        <li><a href="#">新闻中心</a></li>
        <li><a href="#">展会活动</a></li>
        <li><a href="#">网络安全声明</a></li>
        <li><a href="#">遵从出口管制声明</a></li>
        <li><a href="#">辐射安全声明</a></li>
      </ul>
    </div>
    
    <div class="section about">
      <div class="img">
        <div title="Who We Are" class="seoAbout png"></div></div>
      <span class="title">关于华为</span>
      <ul>
        <li><a href="#">公司介绍</a></li>
        <li><a href="#">社会责任</a></li>
        <li><a href="#">愿景与使命</a></li>
        <li><a href="#">财务概览</a></li>
        <li><a href="#">公司治理</a></li>
        <li><a href="#">研究与开发</a></li>
        <li><a href="#">发展历程</a></li>
      </ul>
    </div>
    
    <div class="section offer">
      <div class="img">
        <div title="What We Offer" class="seoOffer png"></div></div>
      <span class="title">产品与服务</span>
      <ul>
        <li><a href="#">无线接入</a></li>
        <li><a href="#">固定接入</a></li>
        <li><a href="#">能源与基础设施</a></li>
        <li><a href="#">核心网</a></li>
        <li><a href="#">业务与软件</a></li>
        <li><a href="#">传送网</a></li>
        <li><a href="#">专业服务</a></li>
        
      </ul>
    </div>

    <div class="section links">
      <div class="img">
        <div title="Frequently Used Links" class="seoLinks png"></div></div>
      <span class="title">常用链接</span>
      <ul>
        <li><a href="#">技术支持</a></li>
        <li><a href="#">成功故事</a></li>
        <li><a href="#">公司刊物</a></li>
        <li><a href="#">产品生命周期公告</a></li>
        <li><a href="#">产品生命周期客户信</a></li>
        <li>
          <a id="feedback-link" href="#" rel="">在线反馈</a>
          <div style="display: none;" id="tipbox">
            需要您先登录!
          </div>
        </li>
        <li><a href="#">网站地图</a></li>
      </ul>
    </div>

  </div>
</div>

<script src="http://assets.51pass.org/js/jquery.min.js"></script>
<script>
var popup_menu_show = function(class_name) {
  var menu_btn = $("li." + class_name + ">a")
  if (!menu_btn.hasClass("hover")) {
    menu_btn.addClass("hover");
    $("div#menu-popup").css({ top: "87px" });
    $("div#menu-popup div.popup." + class_name).show();
  }
};

var popup_menu_hide = function(class_name) {
  var menu_btn = $("li." + class_name + ">a")
  if (menu_btn.hasClass("hover")) {
    menu_btn.removeClass("hover");
    $("div#menu-popup").css({ top: "-1000px" });
    $("div#menu-popup div.popup." + class_name).hide();
  }
};

$("div#menu a").hover(function() {
  popup_menu_show($(this).parent().attr("class"));
}, function() {
  popup_menu_hide($(this).parent().attr("class"));
});

$("div#menu-popup>div.popup").hover(function() {
  popup_menu_show($(this).attr("class").replace("popup ", ""));
  
}, function() {
  popup_menu_hide($(this).attr("class").replace("popup ", ""));
});

$("div#feature-popup").hover(function() {}, function() {
  $("div#feature-popup").hide();
});

$("a#feature-trigger>.first>p").hover(function() {
  $("div#feature-popup").show();
}, function() {});

$(function() {
  $("a[href='#']").attr("href", "javascript:void(0);");
});
</script>
