<%= form_for(@chengs_jz) do |f| %>
  <% if @chengs_jz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chengs_jz.errors.count, "error") %> prohibited this chengs_jz from being saved:</h2>

      <ul>
      <% @chengs_jz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_credit %><br />
    <%= f.text_field :user_credit %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br />
    <%= f.text_field :user_type %>
  </div>
  <div class="field">
    <%= f.label :user_date %><br />
    <%= f.text_field :user_date %>
  </div>
  <div class="field">
    <%= f.label :user_ip %><br />
    <%= f.text_field :user_ip %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :info_id %><br />
    <%= f.text_field :info_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :mobile_img %><br />
    <%= f.text_field :mobile_img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
