<table class="table table-striped">
  <tr>
    <th>Path</th>
    <th>Title</th>
    <th>发布时间</th>
    <th>User name</th>
    <th>Company</th>
    <th>Mobile</th>
    <th>Mobile img</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chengs_jzs.each do |chengs_jz| %><tr>
  <td><%= chengs_jz.path.sub(/^\/上海1010兼职网/, '1010jz') %></td>
  <td><%= chengs_jz.title %></td>
  <td style="white-space: pre;"><%= chengs_jz.time %></td>
  <td><%= chengs_jz.user_name %></td>
  <td><%= chengs_jz.company %></td>
  <td><%= chengs_jz.mobile %></td>
  <td style="padding: 0; vertical-align: middle;"><% if chengs_jz.mobile_img 
      %><img src="<%= chengs_jz.mobile_img %>" /><% end %></td>
  <td><%= link_to 'Show', chengs_jz %></td>
  <td><%= link_to 'Edit', edit_chengs_jz_path(chengs_jz) %></td>
  <td><%= link_to 'Destroy', chengs_jz, confirm: 'Are you sure?',
           method: :delete %></td></tr>
<% end %>
</table>
<a style="position: absolute; right: 9px; top: 9px;"
    href="javascript:fetch_<%= jzsite %>()">立即更新</a>
