<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @chengs_jz.path %>
</p>

<p>
  <b>Title:</b>
  <%= @chengs_jz.title %>
</p>

<p>
  <b>Time:</b>
  <%= @chengs_jz.time %>
</p>

<p>
  <b>User name:</b>
  <%= @chengs_jz.user_name %>
</p>

<p>
  <b>User credit:</b>
  <%= @chengs_jz.user_credit %>
</p>

<p>
  <b>User type:</b>
  <%= @chengs_jz.user_type %>
</p>

<p>
  <b>User date:</b>
  <%= @chengs_jz.user_date %>
</p>

<p>
  <b>User ip:</b>
  <%= @chengs_jz.user_ip %>
</p>

<p>
  <b>Company:</b>
  <%= @chengs_jz.company %>
</p>

<p>
  <b>Info:</b>
  <%= @chengs_jz.info_id %>
</p>

<p>
  <b>Content:</b>
  <%= @chengs_jz.content %>
</p>

<p>
  <b>Mobile:</b>
  <%= @chengs_jz.mobile %>
</p>

<p>
  <b>Mobile img:</b>
  <%= @chengs_jz.mobile_img %>
</p>


<%= link_to 'Edit', edit_chengs_jz_path(@chengs_jz) %> |
<%= link_to 'Back', chengs_jzs_path %>
