<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<title>小程老师想要的<%= title %></title>
<link href="http://assets.51pass.org/css/bootstrap_v2.css" rel="stylesheet" />

<%= yield %>

<script src="http://assets.51pass.org/js/jquery.min.js"></script>
<script src="http://assets.51pass.org/js/rails.js"></script>
<script src="http://assets.51pass.org/js/jquery.tablesorter.min.js"></script>
<script>
function fetch_1010jz() {
  $.getJSON("/chengs/jzs/fetch_1010jz.json?ts=" + new Date().getTime(),
      function(data) { if (!data.result) alert("!!!") }); }

$(function() {
  $("table.table-striped").tablesorter({ sortList: [[0, 0]] });
});
</script>
