<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<title>许明浩要的网站<%= title %></title>
<link href="/assets/css/xus/home.css" rel="stylesheet" />

<div id="header"><div class="bound"><a id="logo" href="#"
    style='margin-top: 20px; padding-left: 50px;
      font-size: 24px; font-weight: bold; letter-spacing: .03em; color: #222;
      font-family: "Century Gothic","Helvetica Neue",helvetica,arial,sans-serif'
    >LOGO</a>
  <div class="topnav">
    <div class="log">
      <a href="#">Global</a>
      <img src="/assets/img/xus/hw_000470.gif" />
      <a id="worldWide" href="#">选择区域/语言</a><img 
          src="/assets/img/xus/hw_092793.gif" class="arrow" />
      <img src="/assets/img/xus/hw_000470.gif">
      <a href="#">个性化服务</a>
      <span style="display:none" id="sslogoff">
        <img src="/assets/img/xus/hw_000470.gif" />
        <a id="aLogout">退出</a></span>  
      <span id="sslogon"><a id="aLogin">登录</a></span>
      <img src="/assets/img/xus/hw_000470.gif" />
      <a href="#">心声社区</a>        
    </div><!-- /log -->
    <div class="alone">
      <div id="search_1" class="search">
        <form name="SEARCH_BOX" id="SEARCH_BOX" method="post" action="#">
          <input type="text" name="ssUserText" aria-haspopup="true"
              onkeypress="if(event.keyCode=='13') return(Usearch());"
              class="text ui-autocomplete-input" id="search-box-h"
              autocomplete="off" role="textbox" aria-autocomplete="list" />
          <a id="searchButton" title="Search" href="#"></a>
        </form>
      </div><div class="auto"><div class="ico"></div>
      <div class="List_Box"><ul class="List_Box_Ul"></ul></div></div>
    </div><!-- /search -->
  </div><!-- /alone -->
</div><!-- /bound --></div><!-- /header -->
<div id="menu"><div class="bound">
  <li class="solutions"><a href="#"></a></li>
  <li class="products"><a href="#"></a></li>
  <li class="services"><a href="#"></a></li>
  <li class="support"><a href="#"></a></li>
  <li class="about"><a href="#"></a></li>
</div><!-- /bound --></div><!-- /menu -->
<div id="menu-popup" style="top: -1000px; left: 184.5px;">
  <div class="popup solutions" style="display: none;">
    <div class="menu_content"><div>
      <ul class="Arpu">
        <li class="img"><a href="#"><img src="/assets/img/xus/a_cn.gif"
            alt="Arpu up"></a></li>
        <li><a href="#">云计算</a></li>
        <li><a href="#">SDP</a></li>
        <li><a href="#">NGBSS</a></li>
        <li><a href="#">数字家庭</a></li>
        <li><a href="#">统一通信</a></li>
      </ul>
      <ul class="Broader">
        <li class="img"><a href="#"><img src="/assets/img/xus/b_cn.gif"
            alt="Broader smarter"></a></li>
        <li><a href="#">无线接入</a></li>
        <li><a href="#">固定接入</a></li>
        <li><a href="#">IPv6</a></li>
        <li><a href="#">分组核心</a></li>
        <li><a href="#">移动宽带</a></li>
      </ul>
      <ul class="Costdown">
        <li class="img"><a href="#"><img src="/assets/img/xus/c_cn.gif"
            alt="Cost down"></a></li>
        <li><a href="#">华为Single战略</a></li>
        <li><a href="#">管理服务</a></li>
        <li><a href="#">统一核心网</a></li>
        <li><a href="#">IP可视化运维</a></li>
        <li><a href="#">用户数据管理</a></li>
      </ul>
      <ul class="Gogreener">
        <li class="img"><a href="#"><img src="/assets/img/xus/g_cn.gif"
            alt="Go greener"></a></li>
        <li><a href="#">绿色通信</a></li>
        <li><a href="#">绿色能源</a></li>
        <li><a href="#">绿色数据中心</a></li>
        <li><a href="#">绿色站点</a></li>
        <li><a href="#">流量缓存加速</a></li>
      </ul>
      <p><a class="more" href="#">更多&gt;</a></p>
    </div></div><!-- /menu_content -->
  </div><!-- /popup_solutions -->
  <div class="popup services" style="display: none;">
    <div class="menu_content">
      <div class="width">
        <div class="left nlist"><ul>
          <li class="title"><a href="#">网络集成</a></li>
          <li><a href="#">移动网络集成</a></li>
          <li><a href="#">固定网络集成</a></li>
          <li><a href="#">数据中心服务</a></li>
          <li><a href="#">站点集成</a></li>
        </ul></div>
        <div class="left alist"><ul>
          <li class="title"><a href="#">保障与管理服务</a></li>
          <li><a href="#">管理服务</a></li>
          <li><a href="#">HUAWEI SmartCare</a></li>
          <li><a href="#">网络保障服务</a></li>  
        </ul></div>
        <div class="left lelist"><ul>
          <li class="title"><a href="#">学习与发展</a></li>
          <li><a href="#">能力发展咨询</a></li>
          <li><a href="#">知识传递</a></li>
          <li><a href="#">华为认证</a></li>
        </ul></div>
        <div class="left glist"><ul>
          <li class="title"><a href="#">全球交付</a></li>
          <li><a href="#">端到端交付能力</a></li>
          <li><a href="#">多场景交付能力</a></li>
        </ul></div>
      </div><!-- /width -->
      <div class="link"><a href="#">更多&gt;</a></div>
    </div><!-- /menu_content -->
  </div><!-- /popup_services -->
  <div class="popup products" style="display: none;">
    <div class="menu_content"><div>
      <ul class="marginL65">
        <li class="img"><img src="/assets/img/xus/cloud_cn.gif"></li>
        <li><a href="#">业务与软件</a></li>
        <li><a href="#">存储与网络安全</a></li>
        <li><a href="#">OSS</a></li>
      </ul>
      <ul class="marginL60">
        <li class="img"><img src="/assets/img/xus/pipe_cn.gif"></li>
        <li><a href="#">无线接入</a></li>
        <li><a href="#">固定接入</a></li>
        <li><a href="#">能源与基础设施</a></li>
        <li><a href="#">传送网</a></li>
        <li><a href="#">数据通信</a></li>
        <li><a href="#">核心网</a></li>  
      </ul>
      <ul class="marginL77">
        <li class="img"><img src="/assets/img/xus/devcies_cn.gif"></li>
        <li><a href="#">个人终端</a></li>
        <li><a href="#">家庭终端</a></li>
        <li><a href="#">企业终端</a></li>
      </ul>
      <p><a class="more" href="#">更多&gt;</a></p>
    </div></div><!-- /menu_coutent -->
  </div><!-- /popup products -->
  <div class="popup support" style="display: none;">
    <div class="menu_content">
      <div class="width">
        <div class="left">
          <div class="support_ico"><img src="/assets/img/xus/support.gif"></div>
        </div>
        <div class="support_right">   
          <h1><a href="#">文档</a></h1>  
          <div class="search">
            <input type="text" style="width:196px" class="text"
                name="support_ssUserText" id="support_ssUserText">
            <a id="searchButton" title="Search"></a>
          </div>  
          <span>请输入产品名称，如：“M2000”</span>                    
        </div><!-- /support_right -->
      </div><!-- /width -->
      <div class="link">
        <div class="left"><a href="#">公告</a>|<a href="#">互动中心</a>|<a 
            href="#">培训</a></div>
        <div class="right"><a href="#">更多&gt;</a></div>
      </div>
    </div><!-- /menu_content -->
  </div><!-- /popup support -->
  <div class="popup about" style="display: none;">
    <div class="menu_content">
      <div class="width">
        <div class="left">
          <ul>
            <li class="title"><a href="#">公司介绍</a></li>
            <li><a href="#">愿景使命</a></li>
            <li><a href="#">公司战略</a></li>
            <li><a href="#">财务概要</a></li>
            <li><a href="#">公司治理</a></li>
            <li><a href="#">研究开发</a></li>
            <li><a href="#">发展历程</a></li>
          </ul>
        </div>
        <div class="left">
          <ul>
            <li class="title"><a href="#">社会责任</a></li>
            <li><a href="#">CSR战略与管理</a></li>
            <li><a href="#">公平经营</a></li>
            <li><a href="#">消除数字鸿沟</a></li>
            <li><a href="#">绿色环保</a></li>
            <li><a href="#">供应链</a></li>
            <li><a href="#">员工</a></li>
          </ul>
        </div>
        <div class="left">
          <ul>
            <li class="title"><a href="#">新闻媒体</a></li>
            <li><a href="#">新闻</a></li>
            <li><a href="#">媒体热点</a></li>
            <li><a href="#">图片新闻</a></li>
            <li><a href="#">产品发布信</a></li>
            <li><a href="#">产品生命周期公告</a></li>
          </ul>
        </div>
        <div class="left">
          <ul>
            <li class="title"><a href="#">公司刊物</a></li>
            <li><a href="#">《公司年报》</a></li>
            <li><a href="#">《社会责任报告》</a></li>
            <li><a href="#">《营赢》</a></li>
            <li><a href="#">《华为技术》</a></li>
            <li><a href="#">《华为服务》</a></li>
          </ul>
        </div>
      </div>
      <div class="link">
        <div class="left2"><a href="#">联系我们</a>|<a href="#"
            >Newsletter</a>|<a href="#">展会活动</a></div>
        <div class="right"><a href="#">更多&gt;</a></div>
      </div>
    </div><!-- /menu_content -->
  </div><!-- /popup_about -->
</div><!-- /menu-popup -->
<%= yield %>
